{% extends 'edgeq-raptor2.jinja2' %}

{% set connection_list = ['uart0', 'uart1'] %}
{% set connection_commands = {'uart0': 'telnet localhost 5001', 'uart1': 'telnet localhost 5002'} %}
{% set connection_tags = {'uart0': ['primary', 'telnet'], 'uart1': ['telnet']} %}

{% set bootloader_prompt = '=>' %}

{% set power_off_command = '/lab-nfs/scratch/jude/board/EVB/common/pmic_off.py' %}
{% set power_on_command = '/lab-nfs/scratch/jude/board/EVB/common/pmic_on.py' %}

{% set hard_reset_command = '/lab-nfs/scratch/jude/board/EVB/common/pmic_lava_off_on.py' %}

{% set interrupt_prompt = "=>" %}


{% set flasher_deploy_commands = ['/lab-nfs/scratch/jude/board/EVB/common/pmic_off.py',
                                  'sleep 10',
                                  '/lab-nfs/scratch/jude/board/EVB/common/pmic_on.py',
                                  'sleep 10',
                                  '/lab-nfs/lava/files/flash.sh "{IMAGE}" &',
                                  'sleep 2',
                                  'sleep 2'] %}
